<!doctype html>
<html lang="en">
<head>
  <title>Career Recommender</title>
  <meta charset="utf-8" />
  <meta name="author" content="WebApp" />
  <meta name="description" content="A system to help identify your career match." />
  <meta name="viewport" content="width=device-width" />
  <link rel="apple-touch-icon-precomposed" href="../static/assets/media/logos/icon.png" />
  <link rel="icon" href="../static/assets/media/logos/icon.png" />
  <link rel="mask-icon" href="../static/assets/media/favicon.svg" color="rgb(13,15,29)" />
  <link rel="shortcut icon" href="../static/assets/media/logos/icon.png" />
  <link rel="stylesheet" href="../static/assets/css/main.css" />
</head>
<body class="page page-home preload ">


  <section class="bg-image-01 center full-screen middle overlay padding">
    <div class="max-width-m">
        <a href="/"><img style="height: 87px;margin-bottom: 20px;" src="../static/assets/media/logos/icon.png" alt=""></a>
      <h1 style="color:#ffffff;">Welcome VVU Career Recommender.</h1>
      <p class="lead" style="color:#ffffff;margin-top: -10px;">"Valley View University's Most Effective Career Recommender System"</p>
      <img style="width: 250px;margin-top: 20px;text-align: center;" src="../static/assets/media/svg-img/newopen.svg" alt="">

    </div>
  </section>

   <section style="background-color: #ffffff;" class="bg-image-01 center full-screen1 middle overlay padding">
    <div style="margin-top: -20px;" class="max-width-m">
      <h1 style="color:#000073;">Discover your top career matches.</h1>
      <img style="width: 250px;margin-top: 20px;text-align: center;" src="../static/assets/media/svg-img/career.svg" alt="">
      <p class="lead" style="color:#000073;margin-top: 50px;">Over 5,000 Students Are Happy Using Our System</p>
    </div>
  </section>

  <section style="background-color: #000073; padding-top: 100px;" class="bg-image-01 center full-screen1 middle overlay padding">
    <div style="margin-top: -20px;" class="max-width-m">
      <h1 style="color:#ffffff;margin-top: 10px;">What is our platform about?</h1>
      <img style="width: 250px;margin-top: 20px;text-align: center;" src="../static/assets/media/svg-img/what_is.svg" alt="">
      <p class="lead" style="color:#ffffff;margin-top: 50px;padding-left: 150px;padding-right: 150px;line-height: 1.5rem;">The VVU Career Recommernder™ (career test) is a comprehensive interest and preference assessment that measures you against over 100 careers and uses that data to accurately find your top matches with our large career data set.</p>
    </div>
  </section>

  <section style="background-color: #ffffff; " class="bg-image-01 center full-screen1 middle overlay padding">
    <div style="margin-top: -50px;">
      <h1 style="color:#000073;">How Our Platform works?</h1>
      <div class="steps" style="text-align: left;display: inline-block; font-size: 18px;">
        <div class="step">
          <span class="astep">Step 1- </span>
          <span>Register & Login</span>
        </div>
        <div class="step">
          <span class="astep">Step 2- </span>
          <span>Choose a suitable test</span>
        </div>
        <div class="step">
          <span class="astep">Step 3- </span>
          <span>Answer few pleasant questions</span>
        </div>
        <div class="step">
          <span class="astep">Step 4- </span>
          <span>We do our Magic</span>
        </div>
        <div class="step">
          <span class="astep">Step 5- </span>
          <span>Get your results here</span>
        </div>
      </div>
    </div>
  </section>

  <section style="background-color: #000073; padding-top: 100px;" class="bg-image-01 center full-screen1 middle overlay padding">
    <div style="margin-top: -20px;" class="max-width-m">
      <img style="width: 250px;margin-top: 20px;text-align: center;" src="../static/assets/media/svg-img/ready.svg" alt="">
      <p class="lead" style="color:#ffffff;margin-top: 50px;padding-left: 150px;padding-right: 150px;line-height: 1.5rem;">Are you ready to discover yout perfect career?</p>
    </div>
    <div>
          <a href="/login" style="background: #ffffff;border: 1px solid #000073;color: #000073;" class="button button-primary space-top">Get started, it's free!</a>
      </div>
  </section>

  <script src="../static/assets/js/jquery.min.js"></script>
  <script src="../static/assets/js/main.js"></script>
</body>
</html>
